
  div{
  
 padding-top:7px;
    width:500px;
    margin: 0 auto;
    text-align: center;
    background: gray;
    height: 500px;
    border-radius: 25px;
    
   

  }

  input {
    width: 21%;
    height: 18%;
    font-size: 30px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 30px;
    padding: 0px;

    
  }
  .text{
    width: 65%;
    height:16% ;
    margin-left: 2px;
    ;
    background-color: rgb(93, 93, 232);
    color: white;
    border-color: rgba(255, 255, 255, 0.527);
    
  }

  .text:hover{
    background-color: #cacaca;
  }


  #sm{
    background-color: rgb(93, 93, 232);
    margin-left: 10px;
}

  #cc{
    background: rgb(205, 145, 35);
    margin-left: px;
    
    
}
  
  .button {
    font-size: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: rgb(173, 164, 164);
    color: rgba(255, 255, 255, 0.871);

  }
  
  .button:hover {
    background-color: #ccc;
  }
  #sm:hover{
    background-color: #ccc;
  }
  #cc:hover{
    background-color:rgba(255, 166, 0, 0.358) ;
  }